version: '3.8'

services:


 
  mysql-db:
    image: mysql:8.0
    container_name: comp20081-mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: comp20081_cloud
    ports:
      - "3306:3306"
    networks:
      - comp20081_network

  ntu-vm-comp20081:
    container_name: ntu-vm-comp20081
    image: pedrombmachado/ntu_lubuntu:comp20081
    ports:
      - "3390:3389"
      - "2022:22"
    hostname: ntu-vm-comp20081
    volumes:
      - docker_comp20081:/home/ntu-user/NetBeansProjects
    networks:
      - comp20081_network

  ntu-load-balancer:
    container_name: ntu-load-balancer
    image: pedrombmachado/ntu_surgery:24.04-base
    ports:
      - "2023:22"
    hostname: ntu-load-balancer
    networks:
      - comp20081_network

  comp20081-files-container1:
    container_name: comp20081-files-container1
    image: pedrombmachado/simple-ssh-container:base
    environment:
      - ROOT_PASSWORD=password  
    ports:
      - "4848:22"
    hostname: comp20081-files-container1
    networks:
      - comp20081_network

  comp20081-files-container2:
    container_name: comp20081-files-container2
    image: pedrombmachado/simple-ssh-container:base
    environment:
      - ROOT_PASSWORD=password  
    ports:
      - "4849:22"
    hostname: comp20081-files-container2
    networks:
      - comp20081_network

networks:
  comp20081_network:
    driver: bridge

volumes:
  docker_comp20081: